{{ define "main" }}
<article>
  <div class="post-title-line">
    <h1>{{ .Title }}</h1>
    <span class="reading-time">{{ .ReadingTime }} min read</span>
  </div>
  <div class="post-meta-line">
    <div class="post-tags">
      {{ if .Params.tags }}
      {{ range .Params.tags }}
      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
      {{ end }}
    </div>
    <time datetime="{{ .Date }}">
      {{ .Date | time.Format site.Params.theme_config.date_format }}
    </time>
  </div>
  {{ if .Params.toc }}
  <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
    {{ .TableOfContents }}
  </aside>
  {{ end }}
  {{ .Content }}
  {{ partial "related.html" . }}
</article>
{{ end }}
